<table class="table table-dark table-striped w-75 mx-auto">
    <caption class="caption-top">
        <strong class="text-light"
            >Date:
            {{ current?.date | dtoToDate }}
        </strong>
    </caption>
    <thead>
        <tr>
            <th></th>
            <th class="text-center" scope="col">Currency</th>
            <th class="text-end" scope="col">Unit</th>
            <th class="text-end" scope="col">Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of current?.exchangeRates | keyvalue">
            <td class="text-end">
                <i
                    *ngIf="hasNote(item.key)"
                    [title]="getNote(item.key)"
                    class="bi bi-card-text"
                ></i>
            </td>
            <td class="text-center">{{ item.value.currency }}</td>
            <td class="text-end">{{ item.value.unit }}</td>
            <td class="text-end">{{ item.value.value }}</td>

            <td class="text-center w-25">
                <ng-container
                    *ngIf="!savedContains(item.key); else elseTemplate"
                >
                    <button
                        #btn
                        class="btn btn-outline-success"
                        (click)="save(item.value, btn)"
                    >
                        <i class="bi bi-plus-square"></i>
                    </button>
                </ng-container>
                <ng-template #elseTemplate>
                    <button
                        type="button"
                        #btn
                        (click)="delete(item.value, btn)"
                        class="btn btn-outline-danger ms-auto"
                    >
                        <i class="bi bi-trash3"></i>
                    </button>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>
